:root {
  --abb-global-color-accentPrimary: rgba(247, 221, 4, 1);

  /* Content */
  --abb-global-color-contentPrimary: rgba(38, 40, 44, 1);
  --abb-global-color-contentSecondary: rgba(115, 118, 130, 1);
  --abb-global-color-contentTertiary: rgba(200, 202, 207, 1);
  --abb-global-color-contentInversePrimary: rgba(255, 255, 255, 1);
  /* Background */
  --abb-global-color-bgPrimary: rgba(255, 255, 255, 1);
  --abb-global-color-bgSecondary: rgba(20, 33, 65, 0.06);
  --abb-global-color-bgTertiary: rgba(241, 242, 244, 1);
  --abb-global-color-bgInversePrimary: rgba(19, 20, 22, 1);
  /* Line */
  --abb-global-color-linePrimary: rgba(222, 223, 226, 1);
  --abb-global-color-lineSecondary: rgba(200, 202, 207, 1);
  --abb-global-color-lineTertiary: rgba(233, 234, 236, 1);
}