.gapo-Loading {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gapo-Loading-spinner {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--abb-global-color-bgTertiary);
  border-top-color: var(--abb-global-color-contentSecondary);
  width: 32px;
  height: 32px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
